/* --- Fonts ----------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Italiana&family=Jaldi&family=Montserrat:wght@600&display=swap");
/* --- Reset browser styles --------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ---Wrapper & Container----------------------------------------------------------- */
body {
  height: 100%;
  font-family: "Inter";
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._title {
  position: relative;
  font-weight: 600;
  font-size: 30px;
  line-height: 0.8;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}
._title::after {
  content: "";
  position: absolute;
  top: 53px;
  left: 50%;
  width: 45px;
  height: 3px;
  background-color: #ac937d;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

._btn {
  display: block;
  padding: 5.5px 84.5px;
  border: 2px solid #000;
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
._btn span {
  display: block;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 268%;
  text-align: center;
  color: #000000;
}
._btn:not(:last-child) {
  margin: 0px 0px 16px 0px;
}
._btn:hover {
  background-color: #000;
}
._btn:hover span {
  color: #fff;
}

._btn-props {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 268%;
  text-align: center;
  color: #000000;
  background: none;
}
._btn-props:hover {
  color: #ac937d;
  text-decoration: underline;
}

/*--- Header ------------------------------------------------------------------------*/
.header {
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
.header__container {
  max-width: 1860px;
  margin: 0 auto;
  padding: 0px 20px;
}

@media (max-width: 479.98px) {
  .header__container {
    max-width: 1850px;
    margin: 0 auto;
    padding: 0px 15px;
  }
}
.top-header {
  background-color: #ac947d;
}
.top-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1860px;
  margin: 0 auto;
  padding: 0px 20px;
}
.top-header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 590px;
          flex: 0 1 590px;
}
.top-header__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 586px;
          flex: 0 1 586px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.top-header__phone {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 604px;
          flex: 0 1 604px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.top-header__phone a {
  display: inline-block;
  color: #fff;
}

@media (max-width: 991.98px) {
  .top-header {
    display: none;
  }
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item:not(:first-child) {
  margin: 0px 0px 0px 28px;
}
.menu__link {
  color: #fff;
}

@media (max-width: 991.98px) {
  .menu__item:not(:first-child) {
    margin: 0px 0px 0px 15px;
  }
  .menu__link {
    font-size: 9px;
  }
}
.middle-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 0px;
}
.middle-header__man-woman {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}
.middle-header__logo p {
  color: #ac947d;
  font-family: "Jaldi";
  font-weight: 400;
  font-size: 50px;
  line-height: 84px;
  text-transform: uppercase;
}
.middle-header__navbar {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.middle-header__button {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33px;
          flex: 0 0 33px;
}
@media (max-width: 991.98px) {
  .middle-header {
    height: 124px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
  }
  .middle-header__navbar {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .middle-header__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 479.98px) {
  .middle-header__logo p {
    font-size: 20px;
    line-height: 34px;
  }
  .middle-header__navbar {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100px;
            flex: 0 1 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.man-woman {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.man-woman a {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #111111;
}
.man-woman a:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

@media (max-width: 1400px) {
  .man-woman a {
    font-size: 10px;
  }
  .man-woman a:not(:last-child) {
    margin: 0px 10px 0px 0px;
  }
}
@media (max-width: 991.98px) {
  .man-woman {
    display: none;
  }
}
.navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 39px;
  padding: 17px 0px 0px 0px;
}
.navbar-header__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 22px;
}
.navbar-header__icon:not(:last-child) {
  margin: 0px 25px 0px 0px;
}

@media (max-width: 991.98px) {
  .navbar-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 21px;
    padding: 0px;
  }
  .navbar-header__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 20px;
  }
  .navbar-header__icon:not(:last-child) {
    margin: 0px 24px 0px 0px;
  }
}
.burger {
  width: 34px;
  height: 23px;
  position: relative;
  background: none;
  cursor: pointer;
  border: none;
}
.burger span,
.burger span::after,
.burger span::before {
  display: block;
  height: 2px;
  width: 100%;
  left: 0;
  position: absolute;
  background-color: #000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger span::before {
  content: "";
  top: -11px;
  -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger span::after {
  content: "";
  top: 11px;
  -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger._active span::before {
  content: "";
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #828282;
  -webkit-transition: top 300ms, background-color 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  transition: top 300ms, background-color 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55), background-color 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55), background-color 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
}
.burger._active span::after {
  content: "";
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #828282;
  -webkit-transition: top 300ms, background-color 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  transition: top 300ms, background-color 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55), background-color 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55), background-color 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
}
.burger._active span {
  background: rgba(255, 255, 255, 0);
}

.bottom-header {
  margin: 0px 0px 39px 0px;
}

@media (max-width: 991.98px) {
  .bottom-header {
    display: none;
  }
}
.catalog-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.catalog-header__item:not(:last-child) {
  margin: 0px 55px 0px 0px;
}
.catalog-header__link {
  font-family: "Inter";
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #111111;
}

@media (max-width: 1400px) {
  .catalog-header__link {
    font-size: 10px;
  }
  .catalog-header__item:not(:last-child) {
    margin: 0px 40px 0px 0px;
  }
}
@media (max-width: 1087px) {
  .catalog-header__link {
    font-size: 10px;
  }
  .catalog-header__item:not(:last-child) {
    margin: 0px 25px 0px 0px;
  }
}
/*--- Card ------------------------------------------------------------------------*/
.card {
  position: relative;
  width: 333px;
  max-height: 504px;
  cursor: pointer;
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
.card:hover {
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
.card__stickers {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card__stickers p {
  display: block;
  padding: 2px 6px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  background-color: #ac937d;
}
.card__stickers p:not(:last-child) {
  margin: 0px 4px 0px 0px;
}
.card__image {
  margin: 0px 0px 13px 0px;
}
.card__image img {
  width: 100%;
}
.card__discount {
  position: absolute;
  top: 66.07%;
  right: 0;
  padding: 5px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.05em;
  background-color: #ac937d;
}
.card__text {
  margin: 0px 0px 30px 0px;
  font-size: 20px;
  font-weight: 500;
}
.card__text span {
  text-transform: uppercase;
}
.card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.card__price-actual {
  margin: 0px 18px 0px 0px;
  font-weight: 400;
  font-size: 23px;
}
.card__price-old {
  color: #a09e9e;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

/*--- Footer ------------------------------------------------------------------------*/
.footer {
  padding: 54px 0px 76px 0px;
  color: #fff;
  background-color: #000;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 49px 0px;
}
.footer__info li {
  text-transform: uppercase;
}
.footer__info li:not(:last-child) {
  margin: 0px 28px 0px 0px;
}
.footer__title {
  margin: 0px 0px 49px 0px;
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 30px;
}
.footer__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 49px 0px;
}
.footer__tel p:not(:last-child) {
  margin: 0px 32px 0px 0px;
}
.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.info__link {
  color: #fff;
}

/*--- Main ------------------------------------------------------------------------*/
.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*--- Header ------------------------------------------------------------------------*/
.header {
  margin: 0px 0px 103px 0px;
}
/*--- Filter ------------------------------------------------------------------------*/
.filter {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.filter__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 278px;
          flex: 0 0 278px;
}
.section-filter {
  margin: 0px 0px 42px 0px;
}
.section-filter__title {
  position: relative;
  padding: 0px 0px 0px 18px;
  margin: 0px 0px 34px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  cursor: pointer;
}
.section-filter__title:before {
  content: "";
  position: absolute;
  left: 2px;
  top: 7px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 6px;
  height: 6px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
.section-filter__title._active:before {
  left: 2px;
  top: 5px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.section-filter__title._active + .section-filter__body {
  display: none;
}
.section-filter__title._active + .section-filter__price {
  display: none;
}
.section-filter__item {
  margin: 0px 0px 15px 0px;
}
.section-filter__checkbox {
  display: inline-block;
  height: 25px;
}
.section-filter__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-filter__input {
  width: 101px;
  height: 44px;
  padding: 0px 0px 0px 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #000;
}
.section-filter__dash {
  position: relative;
  width: 46px;
}
.section-filter__dash:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 14px;
  background-color: #000;
}
.checkbox {
  position: relative;
  cursor: pointer;
}
.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.checkbox__input:checked + .checkbox__text:before {
  border: 5px solid #ac937d;
}
.checkbox__input:checked + .checkbox__text {
  color: #ac937d;
}
.checkbox__text {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  padding: 0px 0px 0px 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 268%;
  color: #000000;
}
.checkbox__text:before {
  content: "";
  width: 25px;
  height: 25px;
  border: 2px solid #ac937d;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.range {
  position: relative;
  width: 100%;
  height: 26px;
  margin-top: 35px;
}
.range__progress {
  width: 100%;
  height: 2px;
  background-color: #d5d5d5;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}
.range__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
.range__input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 2px;
}
.range__input::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}
.range__input::-ms-track {
  appearance: none;
  height: 5px;
}
.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 26px;
  width: 26px;
  border: 4px solid #ac937d;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin-top: -12px;
  pointer-events: auto;
}
.range__input::-moz-range-thumb {
  -webkit-appearance: none;
  height: 26px;
  width: 26px;
  border: 4px solid #ac937d;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin-top: -12px;
  pointer-events: auto;
}
.range__input::-ms-thumb {
  -webkit-appearance: none;
  height: 26px;
  width: 26px;
  border: 4px solid #ac937d;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin-top: -12px;
  pointer-events: auto;
}
.range__input:active::-webkit-slider-thumb {
  background-color: #ac937d;
}

.catalog {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 87px 20px;
}
.catalog__title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  text-align: center;
  color: #000000;
}
.catalog__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.catalog__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog__item {
  margin: 0px 10px 35px 0px;
}
.catalog-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog-select__text {
  display: block;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  color: #111111;
}
.catalog-select__body {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #111111;
}
.catalog-select__body option {
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #111111;
}

.catalog-props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.catalog-props__btn {
  background: none;
}
.catalog-props__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #111111;
}
.catalog-props__display span {
  margin: 0px 5px 0px 0px;
}
.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 41px;
}
.pages__item:not(:last-child) {
  margin: 0px 37px 0px 0px;
}