/* --- Fonts ----------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Italiana&family=Jaldi&family=Montserrat:wght@600&display=swap");
/* --- Reset browser styles --------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ---Wrapper & Container---------------------------------------------------------------------------- */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1686px;
  padding: 0px 15px;
  margin: 0 auto;
}

/*--- Header ------------------------------------------------------------------------*/
.header {
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  font-family: "Inter";
  text-transform: uppercase;
}
.header__container {
  max-width: 1847px;
  margin: 0 auto;
  padding: 0px 15px;
}

.top-header {
  background-color: #ac947d;
}
.top-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1847px;
  margin: 0 auto;
  height: 35px;
  padding: 0px 15px;
}
.top-header__simple-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 599px;
          flex: 0 1 599px;
}
.top-header__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 586px;
          flex: 0 1 586px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.top-header__number {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 599px;
          flex: 0 1 599px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.top-header__number p {
  display: inline-block;
}

.simple-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.simple-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.simple-menu__item:not(:first-child) {
  margin: 0px 0px 0px 28px;
}
.simple-menu__link {
  color: #fff;
}

.middle-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 0px;
}
.middle-header__man-woman {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}
.middle-header__logo h1 {
  color: #ac947d;
  font-family: "Jaldi";
  font-weight: 400;
  font-size: 50px;
  line-height: 84px;
  text-transform: uppercase;
}
.middle-header__navbar {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.man-woman {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.man-woman a {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #111111;
}
.man-woman a:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 39px;
  padding: 17px 0px 0px 0px;
}
.navbar-header__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 22px;
}
.navbar-header__icon:not(:last-child) {
  margin: 0px 25px 0px 0px;
}

.bottom-header {
  margin: 0px 0px 39px 0px;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu-header__item:not(:last-child) {
  margin: 0px 55px 0px 0px;
}
.menu-header__link {
  font-family: "Inter";
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #111111;
}

/* PC */
@media (max-width: 1400px) {
  .menu-header__link {
    font-size: 10px;
  }
}
/*--- Small-slider ------------------------------------------------------------------------*/
.btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0px 5px;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55px 1fr 55px;
  grid-template-columns: 55px 1fr 55px;
  -ms-grid-rows: 504px;
  grid-template-rows: 504px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.gallery > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.gallery > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.gallery__body {
  overflow: hidden;
  padding: 0px 10px;
}
.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}
.gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 26.75px;
}

/*--- Card ------------------------------------------------------------------------*/
.card {
  width: 333px;
  max-height: 504px;
  position: relative;
}
.card__stickers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.card__stickers p {
  display: block;
  color: #fff;
  font-size: 18px;
  padding: 2px 6px;
  font-weight: 400;
  background-color: #ac937d;
}
.card__stickers p:not(:last-child) {
  margin: 0px 4px 0px 0px;
}
.card__image {
  margin: 0px 0px 13px 0px;
}
.card__image img {
  width: 100%;
}
.card__discount {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  padding: 5px;
  letter-spacing: 0.05em;
  background-color: #ac937d;
  font-size: 13px;
  line-height: 130%;
  position: absolute;
  top: 66.07%;
  right: 0;
}
.card__text {
  font-size: 20px;
  font-weight: 500;
  margin: 0px 0px 30px 0px;
}
.card__text span {
  text-transform: uppercase;
}
.card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.card__price-actual {
  font-weight: 400;
  font-size: 23px;
  margin: 0px 18px 0px 0px;
}
.card__price-old {
  color: #a09e9e;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

/*--- Page ------------------------------------------------------------------------*/
body {
  font-family: "Inter";
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
}

.page {
  color: #000;
}

/*--- Technical classes -------------------------------------------------------------*/
._title {
  position: relative;
  font-weight: 600;
  font-size: 30px;
  line-height: 0.8;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}
._title::after {
  content: "";
  position: absolute;
  top: 53px;
  left: 50%;
  width: 45px;
  height: 3px;
  background-color: #ac937d;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

/*--- Slider ------------------------------------------------------------------------*/
.slider {
  max-width: 100%;
  margin: 0px 0px 110px 0px;
}
.slider__container {
  max-width: 1921px;
  margin: 0 auto;
  padding: 0px;
}
.slider__body {
  position: relative;
}
.slider__item {
  position: relative;
  display: block;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.slider__item.hide {
  display: none;
}
.slider__link {
  position: absolute;
  top: 80%;
  left: 5.57%;
  display: block;
  padding: 1.04% 7.08%;
  color: #fff;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  background-color: #000;
}
.slider__link_lookbook {
  top: 55.4%;
  left: 33.1%;
  padding: 0.86% 4.16%;
  background-color: #ac937d;
}
.slider__image {
  width: 100%;
}
.slider__nav {
  position: absolute;
  top: 8.57%;
  left: 5.26%;
}

.nav-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15.62%;
}
.nav-slider__prev, .nav-slider__next {
  cursor: pointer;
}
.nav-slider__counter {
  font-family: "Inter";
  font-weight: 200;
  font-size: 25px;
  line-height: 1.2;
  color: #000000;
}

.dots-slider {
  position: absolute;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.dots-slider__dot {
  display: block;
  height: 5px;
  width: 150px;
  cursor: pointer;
  background-color: #bbb;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
.dots-slider__dot:not(:last-child) {
  margin: 0px 20px 0px 0px;
}
.dots-slider__dot:hover,
.dots-slider .active {
  background-color: #717171;
}

/* PC */
@media (max-width: 1400px) {
  .slider__link {
    font-size: 18px;
  }
  .slider__link_lookbook {
    padding: 0.86% 2.08%;
  }
}
/* LAPTOP */
@media (max-width: 1087px) {
  .slider__link {
    font-size: 16px;
  }
}
/* TABLET */
@media (max-width: 991.98px) {
  .slider__link {
    position: absolute;
    font-size: 20px;
    line-height: 1.2;
  }
  .slider__link_lookbook {
    top: 65%;
    left: 5%;
    padding: 1.5% 4.16%;
    background-color: #ac937d;
  }

  .nav-slider {
    display: none;
  }
}
/* MOBILE */
@media (max-width: 767.98px) {
  .slider__link {
    display: none;
  }
}
/*--- Platform ------------------------------------------------------------------------*/
.platform {
  margin: 0px 0px 139px 0px;
}
.platform__title {
  margin: 0px 0px 63px 0px;
}
.small-slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55px 1fr 55px;
  grid-template-columns: 55px 1fr 55px;
  -ms-grid-rows: 141px;
  grid-template-rows: 141px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.small-slider > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.small-slider > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.small-slider > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.small-slider__body {
  overflow: hidden;
}
.small-slider__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}
.small-slider__item {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 70px;
}
.small-slider__link img {
  max-width: 100%;
}
/*--- Product ------------------------------------------------------------------------*/
.production {
  margin: 0px 0px 234px 0px;
}
.production__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.production__title {
  margin: 0px 0px 63px 0px;
}
.production__text {
  margin: 0px 0px 47px 0px;
}
.production__video {
  max-width: 1590px;
  width: 100%;
  position: relative;
  padding-bottom: 42.9%;
}
.production__video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*--- Novelties ------------------------------------------------------------------------*/
.novelties__title {
  margin: 0px 0px 78px 0px;
}
.gallery {
  margin: 0px 0px 143px 0px;
}
/*--- Catalog ------------------------------------------------------------------------*/
.catalog__list {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}
.catalog__item {
  position: relative;
  padding: 0px 0px 85% 0px;
}
.catalog__item_top {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}
.catalog__item_t-shirts {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.catalog__text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.catalog__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}