/* --- Fonts ----------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Jaldi&display=swap");
/* --- Reset browser styles --------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ---Wrapper & Container---------------------------------------------------------------------------- */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1814px;
  margin: 0 auto;
  padding: 0px 15px;
}

/*--- Header ------------------------------------------------------------------------*/
.header {
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  font-family: "Inter";
  text-transform: uppercase;
}
.top-header {
  background-color: #AC947D;
}
.top-header__container {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-header__simple-menu {
  flex: 0 1 599px;
}
.top-header__text {
  flex: 0 1 586px;
  display: flex;
  justify-content: center;
}
.top-header__number {
  flex: 0 1 599px;
  display: flex;
  justify-content: flex-end;
}

.simple-menu {
  display: flex;
  justify-content: flex-end;
}
.simple-menu__list {
  display: flex;
}
.simple-menu__item:not(:first-child) {
  margin: 0px 0px 0px 28px;
}
.simple-menu__link {
  color: #fff;
}

.middle-header {
  padding: 14px 0px;
  display: flex;
  justify-content: space-between;
}
.middle-header__man-woman {
  flex: 0 1 200px;
}
.middle-header__logo p {
  color: #AC947D;
  font-family: "Jaldi";
  font-weight: 400;
  font-size: 50px;
  line-height: 84px;
  text-transform: uppercase;
}
.middle-header__navbar {
  flex: 0 1 200px;
  justify-content: flex-end;
}

.man-woman {
  display: flex;
  align-items: center;
}
.man-woman a {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #111111;
}
.man-woman a:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.navbar-header {
  display: flex;
  align-items: flex-end;
  height: 38px;
  padding: 17px 0px 0px 0px;
}
.navbar-header__icon:not(:last-child) {
  margin: 0px 25px 0px 0px;
}

.bottom-header {
  height: 52px;
}
.menu-header__list {
  display: flex;
  align-items: start;
  justify-content: center;
}
.menu-header__item:not(:last-child) {
  margin: 0px 55px 0px 0px;
}
.menu-header__link {
  font-family: "Inter";
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #111111;
}

/*--- Slider ------------------------------------------------------------------------*/