/* --- Fonts ----------------------------------------------------------------------- */
@import "fonts.scss";

/* --- Reset browser styles --------------------------------------------------------- */
@import "nullstyle.scss";

/* ---Wrapper & Container----------------------------------------------------------- */
@import "template/_wrapper.scss";

/*--- Header ------------------------------------------------------------------------*/
@import "template/_header.scss";

/*--- Card ------------------------------------------------------------------------*/
@import "template/_card.scss";

/*--- Footer ------------------------------------------------------------------------*/
@import "template/_footer.scss";

/*--- Filter ------------------------------------------------------------------------*/
.filter {
  &__body {
    width: 278px;
  }
  &__section {
  }
}
.section-filter {
  &__title {
    position: relative;
    padding: 0px 0px 0px 18px;
    margin: 0px 0px 34px 0px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;

    &:before {
      content: "";
      position: absolute;
      left: 0px;
      top: 7px;
      display: inline-flex;
      width: 6px;
      height: 6px;
      border-top: 2px solid #000;
      border-left: 2px solid #000;
      transform: rotate(45deg);
    }

    & ._active {
      transform: rotate(-135deg);
    }
  }
  &__body {
  }
  &__item {
  }
  &__checkbox {
  }
}
.checkbox {
  position: relative;

  &__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
  }

  &__text {
    position: relative;
    height: 25px;
    padding: 0px 0px 0px 30px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 268%;
    color: #000000;

    &:before {
      content: "";
      width: 25px;
      height: 25px;
      border: 2px solid #ac937d;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}
.catalog {
}
