/* --- Fonts ----------------------------------------------------------------------- */
@import "fonts.scss";

/* --- Reset browser styles --------------------------------------------------------- */
@import "nullstyle.scss";

/* ---Wrapper & Container----------------------------------------------------------- */
@import "template/_wrapper.scss";

/*--- Header ------------------------------------------------------------------------*/
@import "template/_header.scss";

/*--- Card ------------------------------------------------------------------------*/
@import "template/_card.scss";

/*--- Footer ------------------------------------------------------------------------*/
@import "template/_footer.scss";

/*--- Main ------------------------------------------------------------------------*/
.main {
  &__container {
    display: flex;
  }
}

/*--- Header ------------------------------------------------------------------------*/
.header {
  margin: 0px 0px 103px 0px;
  &__container {
  }
}

/*--- Filter ------------------------------------------------------------------------*/
.filter {
  user-select: none;
  &__body {
    flex: 0 0 278px;
  }
  &__section {
  }
}
.section-filter {
  margin: 0px 0px 42px 0px;
  &__title {
    position: relative;
    padding: 0px 0px 0px 18px;
    margin: 0px 0px 34px 0px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      left: 2px;
      top: 7px;
      display: inline-flex;
      width: 6px;
      height: 6px;
      border-top: 2px solid #000;
      border-left: 2px solid #000;
      transform: rotate(45deg);
      transition: all ease 400ms;
    }

    &._active {
      &:before {
        left: 2px;
        top: 5px;
        transform: rotate(225deg);
      }
    }

    &._active + .section-filter__body {
      display: none;
    }

    &._active + .section-filter__price {
      display: none;
    }
  }
  &__body {
  }

  &__item {
    margin: 0px 0px 15px 0px;
  }

  &__checkbox {
    display: inline-block;
    height: 25px;
  }

  &__price {
  }

  &__display {
    display: flex;
  }

  &__input {
    width: 101px;
    height: 44px;
    padding: 0px 0px 0px 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #000;

    &_min {
    }

    &_max {
    }
  }

  &__dash {
    position: relative;
    width: 46px;

    &:before {
      content: "";
      position: absolute;
      width: 18px;
      height: 2px;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 14px;
      background-color: #000;
    }
  }

  &__range {
  }

  &__buttons {
  }
}
.checkbox {
  position: relative;
  cursor: pointer;

  &__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;

    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;

    &:checked + .checkbox__text:before {
      border: 5px solid #ac937d;
    }

    &:checked + .checkbox__text {
      color: #ac937d;
    }
  }

  &__text {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 25px;
    padding: 0px 0px 0px 30px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 268%;
    color: #000000;

    &:before {
      content: "";
      width: 25px;
      height: 25px;
      border: 2px solid #ac937d;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}

.range {
  position: relative;
  width: 100%;
  height: 26px;
  margin-top: 35px;

  &__progress {
    width: 100%;
    height: 2px;
    background-color: #d5d5d5;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
  }

  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
  }

  &__input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 2px;
  }

  &__input::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
  }

  &__input::-ms-track {
    appearance: none;
    height: 5px;
  }

  &__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 26px;
    width: 26px;
    border: 4px solid #ac937d;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin-top: -12px;
    pointer-events: auto;
  }

  &__input::-moz-range-thumb {
    -webkit-appearance: none;
    height: 26px;
    width: 26px;
    border: 4px solid #ac937d;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin-top: -12px;
    pointer-events: auto;
  }

  &__input::-ms-thumb {
    -webkit-appearance: none;
    height: 26px;
    width: 26px;
    border: 4px solid #ac937d;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin-top: -12px;
    pointer-events: auto;
  }

  &__input:active::-webkit-slider-thumb {
    background-color: #ac937d;
  }
}

.catalog {
  flex: 1 1 auto;
  margin: 0px 0px 87px 20px;

  &__title {
    font-family: "Inter";
    font-weight: 600;
    font-size: 30px;
    line-height: 110%;
    text-align: center;
    color: #000000;
  }

  &__grid {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  &__select {
  }

  &__body {
    flex: 1 1 auto;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin: 0px 10px 35px 0px;
  }

  &__props {
  }
}
.catalog-select {
  display: flex;
  &__text {
    display: block;
    font-family: "Inter";
    font-weight: 500;
    font-size: 15px;
    color: #111111;
  }
  &__body {
    text-decoration-line: underline;
    font-family: "Inter";
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #111111;

    & option {
      font-family: "Inter";
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: #111111;
    }
  }
}

.catalog-props {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__item {
  }

  &__btn {
    background: none;
  }

  &__pages {
  }

  &__display {
    display: flex;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    color: #111111;

    & span {
      margin: 0px 5px 0px 0px;
    }
  }

  &__counter {
  }
}
.pages {
  display: flex;
  &__btn {
  }
  &__list {
    display: flex;
    margin: 0px 41px;
  }

  &__item {
    &:not(:last-child) {
      margin: 0px 37px 0px 0px;
    }
  }

  &__number-btn {
  }
}
