/* --- Fonts ----------------------------------------------------------------------- */
@import "fonts.scss";

/* --- Reset browser styles --------------------------------------------------------- */
@import "nullstyle.scss";

/* ---Wrapper & Container----------------------------------------------------------- */
@import "template/_wrapper.scss";

/*--- Header ------------------------------------------------------------------------*/
@import "template/_header.scss";

/*--- Card ------------------------------------------------------------------------*/
@import "template/_card.scss";

/*--- Footer ------------------------------------------------------------------------*/
@import "template/_footer.scss";

/*--- Filter ------------------------------------------------------------------------*/
.filter {
  &__body {
    width: 278px;
  }
  &__section {
  }
}
.section-filter {
  margin: 0px 0px 42px 0px;
  &__title {
    position: relative;
    padding: 0px 0px 0px 18px;
    margin: 0px 0px 34px 0px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      left: 2px;
      top: 7px;
      display: inline-flex;
      width: 6px;
      height: 6px;
      border-top: 2px solid #000;
      border-left: 2px solid #000;
      transform: rotate(45deg);
      transition: all ease 400ms;
    }

    &._active {
      &:before {
        left: 2px;
        top: 5px;
        transform: rotate(225deg);
      }
    }

    &._active + .section-filter__body {
      display: none;
    }

    &._active + .section-filter__price {
      display: none;
    }
  }
  &__body {
  }

  &__item {
    margin: 0px 0px 15px 0px;
  }

  &__checkbox {
    display: inline-block;
    height: 25px;
  }

  &__price {
  }

  &__display {
  }

  &__input {
    &_min {
    }

    &_max {
    }
  }

  &__dash {
  }

  &__range {
  }
}
.checkbox {
  position: relative;
  cursor: pointer;

  &__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;

    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;

    &:checked + .checkbox__text:before {
      border: 5px solid #ac937d;
    }

    &:checked + .checkbox__text {
      color: #ac937d;
    }
  }

  &__text {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 25px;
    padding: 0px 0px 0px 30px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 268%;
    color: #000000;

    &:before {
      content: "";
      width: 25px;
      height: 25px;
      border: 2px solid #ac937d;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}

.range {
  position: relative;
  width: 277px;

  &__progress {
    width: 100%;
    height: 5px;
    background-color: #ddd;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
  }

  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
  }

  &__input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;

    &_min {
    }

    &_max {
    }
  }

  &__input::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
  }

  &__input::-ms-track {
    appearance: none;
    height: 5px;
  }

  &__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: red;
    cursor: pointer;
    border-radius: 10px;
    pointer-events: auto;
    margin-top: -9px;
  }

  &__input::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: red;
    cursor: pointer;
    border-radius: 50%;
    pointer-events: auto;
  }

  &__input::-ms-thumb {
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: red;
    cursor: pointer;
    border-radius: 50%;
    pointer-events: auto;
  }
}

.catalog {
}
