/* --- Fonts ----------------------------------------------------------------------- */
@import "fonts.scss";

/* --- Reset browser styles --------------------------------------------------------- */
@import "nullstyle.scss";

/* ---Wrapper & Container----------------------------------------------------------- */
@import "template/_wrapper.scss";

/*--- Header ------------------------------------------------------------------------*/
@import "template/_header.scss";

/*--- Gallery ---------------------------------------------------------------------*/
@import "template/_gallery.scss";

/*--- Card ------------------------------------------------------------------------*/
@import "template/_card.scss";

/*--- Footer ------------------------------------------------------------------------*/
@import "template/_footer.scss";

/*--- Slider ------------------------------------------------------------------------*/
.slider {
  height: 41.9vw;
  max-width: 100%;
  margin: 0px 0px 110px 0px;

  &__container {
    position: relative;
    max-width: 1921px;
    margin: 0 auto;
    padding: 0px;
  }

  &__item {
    position: relative;
    display: block;
    display: none;
    animation-name: fade;
    animation-duration: 1s;
  }

  @keyframes fade {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }

  &__item.active {
    display: block;
  }

  &__link {
    position: absolute;
    top: 80%;
    left: 5.57%;
    display: block;
    padding: 1.04% 7.08%;
    color: #fff;
    font-family: "Inter";
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    background-color: #000;

    &_lookbook {
      top: 55.4%;
      left: 33.1%;
      padding: 0.86% 4.16%;
      font-size: 20px;
      background-color: #ac937d;
    }
  }

  &__image {
    max-width: 1920px;
    width: 100%;
  }

  &__nav {
    position: absolute;
    top: 8.57%;
    left: 5.26%;
  }
}

.nav-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15.62%;

  &__prev,
  &__next {
    cursor: pointer;
  }

  &__counter {
    font-family: "Inter";
    font-weight: 200;
    font-size: 25px;
    line-height: 1.2;
    color: #000000;
  }
}

.dots-slider {
  height: 42px;
  bottom: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;

  display: none;

  &__dot {
    display: block;
    height: 3px;
    width: 90px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #000;
    transition: background-color 0.6s ease;
  }

  &__dot:not(:last-child) {
    margin: 0px 12px 0px 0px;
  }

  &__dot.active {
    background-color: #ac937d;
  }
}

/* PC */
@media (max-width: 1400px) {
  .slider {
    &__link {
      font-size: 18px;

      &_lookbook {
        padding: 0.86% 2.08%;
      }
    }
  }
}

/* LAPTOP */
@media (max-width: 1087px) {
  .slider {
    &__link {
      font-size: 16px;
    }
  }
}

/* TABLET */
@media (max-width: 991.98px) {
  .slider {
    &__link {
      position: absolute;
      font-size: 20px;
      line-height: 1.2;

      &_lookbook {
        top: 65%;
        left: 5%;
        padding: 1.5% 4.16%;
        background-color: #ac937d;
      }
    }
  }
  .nav-slider {
    display: none;
  }

  .dots-slider {
    display: flex;
  }
}

/* MOBILE */
@media (max-width: 767.98px) {
  .slider {
    &__link {
      display: none;
    }
  }
}
/*--- Platform ------------------------------------------------------------------------*/
.platform {
  margin: 0px 0px 139px 0px;

  &__title {
    margin: 0px 0px 63px 0px;
  }
}
.small-slider {
  display: grid;
  grid-template-columns: 55px 1fr 55px;
  grid-template-rows: 141px;
  align-items: center;

  &__body {
    overflow: hidden;
  }

  &__line {
    display: flex;
    transition: all ease 500ms;
  }

  &__item {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 70px;
  }

  &__link {
    & img {
      max-width: 100%;
    }
  }
}

/*--- Product ------------------------------------------------------------------------*/
.production {
  margin: 0px 0px 234px 0px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0px 0px 63px 0px;
  }

  &__text {
    margin: 0px 0px 47px 0px;
  }

  // &__video {
  //   max-width: 1590px;
  //   width: 100%;
  //   position: relative;
  //   padding-bottom: 42.9%;
  //   & iframe {
  //     width: 100%;
  //     height: 100%;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     object-fit: cover;
  //   }
  // }

  &__video {
  }
}

.video {
  max-width: 1590px;
  width: 100%;
  position: relative;
  padding-bottom: 42.9%;

  &__item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

/*--- Novelties -------------------------------------------------------------------*/
.novelties {
  margin: 0px 0px 144px 0px;

  &__title {
    margin: 0px 0px 78px 0px;
  }

  &__gallery {
    margin: 0px 0px 143px 0px;
  }

  &__discount {
    position: relative;
  }

  &__text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & p {
      color: #ffffff;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 110%;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }
}

/*--- Catalog ---------------------------------------------------------------------*/
.catalog {
  margin: 0px 0px 172px 0px;

  &__title {
    margin: 0px 0px 62px 0px;
  }

  &__list {
    display: grid;
    grid-template-areas:
      "top top dresses skirts shirts"
      "top top t-shirts t-shirts pants"
      "jeans vests shorts hoodie jumpers";
    grid-gap: 10px;
    margin: 0px 0px 37px 0px;
  }

  &__item {
    position: relative;
    cursor: pointer;
    transition: all ease 400ms;

    &:hover {
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    }

    &_top {
      grid-area: top;
    }

    &_dresses {
      grid-area: dresses;
    }

    &_skirts {
      grid-area: skirts;
    }

    &_shirts {
      grid-area: shirts;
    }

    &_t-shirts {
      grid-area: t-shirts;
    }

    &_pants {
      grid-area: pants;
    }

    &_jeans {
      grid-area: jeans;
    }

    &_vests {
      grid-area: vests;
    }

    &_shorts {
      grid-area: shorts;
    }

    &_hoodie {
      grid-area: hoodie;
    }

    &_jumpers {
      grid-area: jumpers;
    }
  }

  &__text {
    position: absolute;
    top: 21px;
    left: 20px;
    z-index: 100;
  }

  &__image {
    width: 100%;
  }

  &__btn {
    display: block;
    width: 310px;
    padding: 5px 0px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 15px;
    line-height: 268%;
    text-align: center;
    color: #000000;
    border: 2px solid #000000;
    transition: all ease 400ms;

    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
}

/*--- Contacts ---------------------------------------------------------------------*/
[class*="ground-pane"] {
  filter: grayscale(0.7);
}

.contacts {
  margin: 0px 0px 191px 0px;
  &__container {
  }
  &__title {
    margin: 0px 0px 87px 0px;
  }
  &__text {
    text-align: center;
    margin: 0px 0px 41px 0px;
  }
  &__map {
  }
}
