.cards-slider {
  display: grid;
  grid-template-columns: 45px 1fr 45px;
  grid-template-rows: 524px;
  align-items: center;

  &__body {
    margin: 0px 10px;
    overflow: hidden;
  }

  &__list {
    display: flex;
    margin: 10px 0px;
    transition: all ease 500ms;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 26.75px;
  }
}

// DESKTOP
@media (max-width: 1400px) {
}
// LAPTOP
@media (max-width: 1087px) {
}
// TABLET
@media (max-width: 991.98px) {
  .cards-slider {
    grid-template-columns: 1fr;
  }
}
// MOBILE
@media (max-width: 767.98px) {
}
// MOBILE SMALL
@media (max-width: 479.98px) {
}
