.cards-slider {
  &__wrapper {
    display: grid;
    grid-template-columns: 45px 1fr 45px;
    grid-template-rows: 1fr;
    align-items: center;
    margin: 0px 0px 50px 0px;
  }

  &__body {
    margin: 0px 10px;
    overflow: hidden;
  }

  &__list {
    display: flex;
    margin: 10px 0px;
    transition: all ease 500ms;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 26.75px;
  }
}

.dots-cards-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  &__dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ac937d;
  }

  &__dot:not(:last-child) {
    margin: 0px 20px 0px 0px;
  }

  &__dot._active {
    background-color: #000;
  }
}

// DESKTOP
@media (max-width: 1400px) {
}
// LAPTOP
@media (max-width: 1087px) {
}
// TABLET
@media (max-width: 991.98px) {
  .cards-slider {
    &__wrapper {
      grid-template-columns: 1fr;
    }
  }
}
// MOBILE
@media (max-width: 767.98px) {
}
// MOBILE SMALL
@media (max-width: 479.98px) {
}
