.gallery {
  display: grid;
  grid-template-columns: 45px 1fr 45px;
  grid-template-rows: 524px;
  align-items: center;

  &__body {
    margin: 0px 10px;
    overflow: hidden;
  }

  &__list {
    display: flex;
    margin: 10px 0px;
    transition: all ease 500ms;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 26.75px;
  }
}
