/*--- Header ------------------------------------------------------------------------*/
.header {
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  font-family: "Inter";
  text-transform: uppercase;
  &__container {
    max-width: 1847px;
    margin: 0 auto;
    padding: 0px 15px;
  }
}
.top-header {
  background-color: #ac947d;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1847px;
    margin: 0 auto;
    height: 35px;
    padding: 0px 15px;
  }
  &__simple-menu {
    flex: 0 1 599px;
  }
  &__text {
    flex: 0 1 586px;
    display: flex;
    justify-content: center;
  }
  &__number {
    flex: 0 1 599px;
    display: flex;
    justify-content: flex-end;
    & p {
      display: inline-block;
    }
  }
}
.simple-menu {
  display: flex;
  justify-content: flex-end;
  &__list {
    display: flex;
  }
  &__item:not(:first-child) {
    margin: 0px 0px 0px 28px;
  }
  &__link {
    color: #fff;
  }
}
.middle-header {
  display: flex;
  justify-content: space-between;
  padding: 14px 0px;
  &__man-woman {
    flex: 0 1 200px;
  }
  &__logo {
    & h1 {
      color: #ac947d;
      font-family: "Jaldi";
      font-weight: 400;
      font-size: 50px;
      line-height: 84px;
      text-transform: uppercase;
    }
  }
  &__navbar {
    flex: 0 1 200px;
    justify-content: flex-end;
  }
}
.man-woman {
  display: flex;
  align-items: center;
  & a {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #111111;
  }
  & a:not(:last-child) {
    margin: 0px 21px 0px 0px;
  }
}
.navbar-header {
  display: flex;
  align-items: flex-end;
  height: 39px;
  padding: 17px 0px 0px 0px;
  &__icon {
    display: flex;
    align-items: center;
    height: 22px;
  }
  &__icon:not(:last-child) {
    margin: 0px 25px 0px 0px;
  }
}
.bottom-header {
  margin: 0px 0px 39px 0px;
}
.menu-header {
  &__list {
    display: flex;
    align-items: start;
    justify-content: center;
  }
  &__item:not(:last-child) {
    margin: 0px 55px 0px 0px;
  }
  &__link {
    font-family: "Inter";
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #111111;
  }
}
/* PC */
@media (max-width: 1400px) {
  .menu-header {
    &__link {
      font-size: 10px;
    }
  }
}
