.header {
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;

  &__container {
    max-width: 1860px; // 1820 (width container) + 40 (padding)
    margin: 0 auto;
    padding: 0px 20px;
  }
}

// MOBILE SMALL
@media (max-width: 479.98px) {
  .header {
    &__container {
      max-width: 1850px; // 1820 (width container) + 30 (padding)
      padding: 0px 15px;
    }
  }
}

// --------------------------------------------------------------------
.top-header {
  background-color: #ac947d;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1860px; // 1820 (width container) + 40 (padding)
    margin: 0 auto;
    padding: 0px 20px;
  }

  &__menu {
    flex: 0 1 590px;
  }

  &__text {
    flex: 0 1 586px;
    display: flex;
    justify-content: center;
  }

  &__phone {
    flex: 0 1 604px;
    display: flex;
    justify-content: flex-end;

    & a {
      display: inline-block;
      color: #fff;
    }
  }
}

// TABLET
@media (max-width: 991.98px) {
  .top-header {
    display: none;
  }
}

// ----------------------------------------------------------------------------------
.menu {
  display: flex;
  justify-content: flex-end;

  &__list {
    display: flex;
  }

  &__item:not(:first-child) {
    margin: 0px 0px 0px 28px;
  }

  &__link {
    color: #fff;
  }
}

// ------------------------------------------------------------------------------
.middle-header {
  display: flex;
  justify-content: space-between;
  padding: 14px 0px;

  &__man-woman {
    flex: 0 1 200px;
  }

  &__logo {
    & p {
      color: #ac947d;
      font-family: "Jaldi";
      font-weight: 400;
      font-size: 50px;
      line-height: 84px;
      text-transform: uppercase;
    }
  }

  &__navbar {
    flex: 0 1 200px;
    justify-content: flex-end;
  }

  &__button {
    display: none;
    flex: 0 0 33px;
  }
}

// TABLET
@media (max-width: 991.98px) {
  .middle-header {
    height: 34px;
    align-items: center;
    padding: 0px;

    &__navbar {
      flex: 0 1 auto;
      justify-content: flex-end;
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// MOBILE SMALL
@media (max-width: 479.98px) {
  .middle-header {
    &__logo {
      & p {
        font-size: 20px;
        line-height: 34px;
      }
    }

    &__navbar {
      flex: 0 1 100px;
      justify-content: center;
    }
  }
}

// -----------------------------------------------------------------------------
.man-woman {
  display: flex;
  align-items: center;
  & a {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #111111;
  }
  & a:not(:last-child) {
    margin: 0px 21px 0px 0px;
  }
}

// DESKTOP
@media (max-width: 1400px) {
  .man-woman {
    & a {
      font-size: 10px;
    }

    & a:not(:last-child) {
      margin: 0px 10px 0px 0px;
    }
  }
}

// TABLET
@media (max-width: 991.98px) {
  .man-woman {
    display: none;
  }
}

// ---------------------------------------------------------------------------
.navbar-header {
  display: flex;
  align-items: flex-end;
  height: 39px;
  padding: 17px 0px 0px 0px;

  &__icon {
    display: flex;
    align-items: center;
    height: 22px;
  }
  &__icon:not(:last-child) {
    margin: 0px 25px 0px 0px;
  }
}

// TABLET
@media (max-width: 991.98px) {
  .navbar-header {
    align-items: center;
    height: 21px;
    padding: 0px;

    &__icon {
      display: flex;
      align-items: center;
      height: 20px;
    }
    &__icon:not(:last-child) {
      margin: 0px 24px 0px 0px;
    }
  }
}

// -----------------------------------------------------------------------------
@media (max-width: 991.98px) {
  .burger {
    width: 34px; // 30
    height: 23px; // 20
    position: relative;
    background: none;
    cursor: pointer;
    border: none;

    & span,
    span::after,
    span::before {
      display: block;
      height: 2px; //4
      width: 100%;
      left: 0;
      position: absolute;
      background-color: #000;
      transition: all 0.3s ease 0s;
    }

    & span::before {
      content: "";
      top: -11px; // 8
      transition: top 300ms 300ms,
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    & span::after {
      content: "";
      top: 11px; // 8
      transition: top 300ms 300ms,
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }
}

// --------------------------------------------------------------------------
.bottom-header {
  margin: 0px 0px 39px 0px;
}

// TABLET
@media (max-width: 991.98px) {
  .bottom-header {
    display: none;
  }
}

// --------------------------------------------------------------------------
.catalog-header {
  &__list {
    display: flex;
    align-items: start;
    justify-content: center;
  }

  &__item:not(:last-child) {
    margin: 0px 55px 0px 0px;
  }

  &__link {
    font-family: "Inter";
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #111111;
  }
}

// DESKTOP
@media (max-width: 1400px) {
  .catalog-header {
    &__link {
      font-size: 10px;
    }

    &__item:not(:last-child) {
      margin: 0px 40px 0px 0px;
    }
  }
}

// LAPTOP
@media (max-width: 1087px) {
  .catalog-header {
    &__link {
      font-size: 10px;
    }

    &__item:not(:last-child) {
      margin: 0px 25px 0px 0px;
    }
  }
}

// -------------------------------------------------------------------
.mobile-menu {
  display: none;
}

// TABLET
@media (max-width: 991.98px) {
  .mobile-menu {
    display: block;
    color: #000;

    &._active .mobile-menu__body {
      left: 0;
    }

    &__body {
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 1000;

      display: flex;
      flex-direction: column;
      min-height: 100%;

      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #fff;
      transition: left 0.3s ease 0s;
    }

    &__title {
      margin: 28px 0px 58px 0px;
      text-align: center;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;

      & span {
        color: #ac937d;
      }
    }

    &__list {
      flex: 1 1 auto;
      margin: 0px 0px 50px 0px;
    }

    &__item {
      height: 47px;
      border-top: 2px solid #000000;

      &:last-child {
        border-bottom: 2px solid #000000;
      }

      &:last-child .mobile-menu__text {
        font-size: 12px;
        line-height: 15px;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      &:hover .mobile-menu__text {
        color: #ac937d;
      }
    }

    &__text {
      margin: 0px 0px 0px 21px;
      font-weight: 600;
      font-size: 17px;
      line-height: 21px;
      color: #000;
      transition: all ease 0.3s;
    }

    &__img {
      margin: 0px 23px 0px 0px;
    }
  }
}

// --------------------------------------------------------
.form-mobile {
  height: 92px;
  padding: 6px 9px;
  background-color: #ac937d;

  &__text {
    font-weight: 300;
    font-size: 10px;
    line-height: 20px;
    color: #ffffff;
    text-transform: none;
  }

  &__body {
    position: relative;
    display: flex;
    border-bottom: 1px solid #fff;
  }

  &__label {
    position: absolute;
    left: 0;
    bottom: 3px;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #fff;
    text-transform: none;
  }

  &__input {
    height: 40px;
    flex: 1 0 281px;
    background-color: transparent;
  }

  &__btn {
    flex: 0 0 21px;
    display: flex;
    align-items: end;
    color: #fff;
    font-size: 20px;
    background-color: transparent;
  }
}

// -----------------------------------------------------------
.mobile-menu__body_submenu .mobile-menu__item:last-child .mobile-menu__text {
  font-size: 17px;
}
