/* ---Wrapper & Container---------------------------------------------------------------------------- */
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
// /* ---Technical classes----------------------------------------------------------- */
._container{
    max-width: 1790px;
    margin: 0 auto;
    padding: 0px 15px;
}